*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.slack{
    padding: 10px 0px;
}

#slack{
    margin-right: 20px;
}

.blu{
    background-color: rgb(13,157,219);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 15vh;
}

#per{
    width: 5vh;
    height: 5vh;
}

.navbar{
    margin-left: 600px;
}

.navbar a {
    color: white
}

#block{
    width: 20vh;
    padding: 2vh;
}


header{
  
    display: flex;
    justify-content: space-around;
    padding-top: 1vh;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
header ul{
   display: flex; 
   justify-content: space-around;
}

header ul li{
      list-style: none;
      margin-right:20px ;
}
header a{
    
    text-decoration: none;
}


.back{
    background-image: url(img/image\ 12.png);
    height:110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

footer ul li{
    list-style: none;
}
footer a{
    color: white;
    text-decoration: none;
}
